<h1><%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
    <h1><%= bookmark.movie.title %></h1>
    <p>Overview: <%= bookmark.movie.overview %></p>
    <p>Rating: <%= bookmark.movie.rating %></p>
    <p>Comment: <%= bookmark.comment %></p>
  <% end %>


  <%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
  <%= link_to 'Delete', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
  <%= link_to 'Back to lists', lists_path %>
</div>
